<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../static/devices.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Casa</title>
</head>

<body onload="get_all_states()">
    <div class="main">
        <p>Casa de Santiago</p>
    </div>
    <div class="all-lights">
        <p>Todas las luces</p>
        <a type="button" onclick="all_on()" class="boton material-symbols-outlined">light_mode</a>
        <a type="button" onclick="all_off()" class="boton material-symbols-outlined">dark_mode</a>
    </div>
    <div class="devices">
        <p>Dispositivos</p>
        <!-- sala de estar -->
        <a type="button" onclick="sala()" id="5" class="boton material-symbols-outlined">chair</a>

        <!-- comedor -->
        <a type="button" onclick="comedor()" id="1" class="boton material-symbols-outlined">flatware</a>

        <!-- dormitorio -->
        <a type="button" onclick="dormitorio()" id="3" class="boton material-symbols-outlined">bed</a>

        <!-- aspersores -->
        <a type="button" onclick="aspersores()" id="4" class="boton material-symbols-outlined">sprinkler</a>
    </div>

</body>

</html>
